<div class="container">
	<form id="expreForm">
		<div class="form-group col-xs-12">
			<div class="col-xs-5" ng-class="{'has-error': errorArr.emptyVal1}">
    			<select form="expreForm" class="form-control" ng-options="val.name for val in selectValArr" ng-model="val1Selected" ng-change="changeVal1()">
    				<option value="">Choose value 1</option>
        			<!--<option ng-repeat="val in selectValArr" value="{{ val }}">{{ val.name }}</option>-->
    			</select>
			</div><!-- /.col-xs-4 -->
			<div class="col-xs-2">
    			<select form="expreForm" class="form-control" ng-model="selectedExpre.operator">
        			<option ng-repeat="operatorSelect in operators" value="{{ operatorSelect }}">{{ operatorSelect }}</option>
    			</select>
    		</div><!-- /.col-xs-4 -->
    		<div class="col-xs-5">
    			<div class="input-group" ng-class="{'has-error': errorArr.emptyVal2}">
      				<div class="input-group-btn">
        				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ btnDisplay }} <span class="caret"></span></button>
        				<ul class="dropdown-menu">
        					<li ng-click="btnManager('Enter a value', '')"><a href="">Enter a value</a></li>
        					<li role="separator" class="divider"></li>
        					<li ng-repeat="dependencie in dependenciesArr | orderBy: 'name'" value="{{ dependencie.varName }}" ng-click="btnManager('Dependencie',dependencie)"><a href="">{{ dependencie.name }}</a></li>
        				</ul>
      				</div><!-- /btn-group -->
      				<input type="text" class="form-control" ng-disabled="val2!=''" placeholder="{{ val2.name }}" ng-model='val2Wr' ng-change="changeVal2()">
    			</div><!-- /input-group -->
  			</div><!-- /.col-xs-4 -->
    	</div><!--Advertising message -->
    	<div class="form-group col-xs-12" ng-class="{'has-error': errorArr.emptyMsg}">
    		<textarea class="form-control" name="advertise" id="errorMSG" rows="5" placeholder="Advertising message" ng-model="selectedExpre.errorMsg"></textarea>
    	</div><!-- / Advertising message -->
        <div class="form-group" ng-class="{'has-error': errorArr.emptyVal1 || errorArr.emptyVal2 || errorArr.emptyMsg}"><!-- Display warning message -->
            <span class="help-block" ng-if="errorArr.emptyVal1">The value 1 is missing !</span>
            <span class="help-block" ng-if="errorArr.emptyVal2">The value 2 is missing !</span>
            <span class="help-block" ng-if="errorArr.emptyMsg">The advertising message is missing !</span>
        </div><!--/ Display warning message -->
	</form>
</div>